.page {
  width: 100%;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20rpx 30rpx;
    box-sizing: border-box;
    background-color: #fff;

    .left {}

    .middle {}

    .right {
      image {
        width: 50rpx;
        height: 50rpx;
      }
    }
  }

  .add {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    color: white;

    .addad {
      width: 95%;
      margin: 30rpx auto;
      background-color: #00c97d;
      padding: 20rpx 0;
      text-align: center;
      border-radius: 10rpx 10rpx;
    }
  }

  .right {
    width: 35rpx;
    height: 35rpx;
  }

  .add0 {
    .add1 {
      display: flex;
      flex-direction: row;

      .default {
        padding: 0 10rpx;
        border-radius: 5rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23rpx;
        color: #89b1be;
        background-color: #e7f6ff;
        border: 1px solid #89b1be;
        margin-right: 10rpx;
        width: 60rpx;
        height: 40rpx;
      }

      .door {
        font-size: 33rpx;
        word-break: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        width: 500rpx;
      }
    }

    .add2 {
      font-size: 23rpx;
      margin: 10rpx 0;
    }

    .add3 {
      font-size: 23rpx;
      color: #999;
    }
  }

  .editBox {}
}
