.page{
  width: 100%;
  .avatar-box{
    width: 100%;
    background-color: #fff;
    height: 300rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar{
      width: 110rpx;
      height: 110rpx;
      border-radius: 20rpx;
    }
  }
  .weui-cells{
.weui-cell__bd,.weui-cell__ft_in-access{
  font-size: 27rpx;
}
  }
  .weui-actionsheet__cell{
    background-color: #ffffff !important;
    font-weight: normal;
  }
}